body
{
    text-align:center;
    font-family: Quicksand, 游ゴシック体, YuGothic, 'ヒラギノ角ゴシック Pro',メイリオ, Meiryo,'ＭＳ Ｐゴシック', sans-serif;
}

.honbun {
    margin-top: 30px;
    margin-bottom: 12px;
}

.label{
    vertical-align: top;
    margin-right: 5px;
}

.label{
    vertical-align: top;
    margin-right: 5px;
}